@import "../../../globals.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: $primary-color;
  color: $text-color;
  font-size: 20px;
}

@media only screen and (max-width: 360px) {
  nav {
  font-size: 13px;
  }
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: $secondary-color;
}

nav div {
  display: flex;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-size: 18px;
}

nav button {
  background-color: $secondary-color;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $primary-color;
  margin-left: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 360px) {
  nav button{
  font-size: 13px;
  }
}

nav button:hover {
  background-color: $text-color;
}

nav div h1 {
  margin-left: 20px;
}

@media only screen and (max-width: 750px) {
  .welcome-text {
    display: none;
  }
}
