@import "../../../globals.scss";

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $secondary-color;
  font-family: "Arial", sans-serif;
  padding: 20px;
}

.user-info-header h1 {
  color: $primary-color;
  font-size: 2rem;
  margin-bottom: 20px;
}

.user-info-card {
  background-color: $primary-color;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.user-info-field {
  font-size: 1.1rem;
  color: $text-color;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.user-info-field strong {
  color: $text-color;
  margin-bottom: 5px;
}

.user-info-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-info-field {
  border-bottom: 1px solid $primary-color;
  padding-bottom: 10px;
}

.user-info-card:last-child .user-info-field {
  border-bottom: none;
}
