@import "../../globals.scss";

.loginForm {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    input {
      padding: 10px;
      margin-top: 10px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
      line-height: 1.5;

      &:focus {
        border-color: #4a90e2;
      }
    }

    .error {
      color: rgb(255, 0, 0);
      font-size: 18px;
      margin-top: 4px;
    }
  }

  button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }

  button:hover {
    cursor: pointer;
    color: $text-color;
    background-color: $primary-color;
  }
}

span {
  color: $link-color;
}

.already-have span:hover {
  text-decoration: underline;
}

.login-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 18px;
  color: $primary-color;
}
