@import "../../globals.scss";

.loginForm {
  display: flex;
  flex-direction: column;
  margin: 10px;

  input,
  button {
    margin-top: 20px;
    padding: 10px;
    border: none;
  }

  .error {
    color: rgb(255, 0, 0);
    font-size: 18px;
    margin-top: 4px;
  } 

  button:hover {
    cursor: pointer;
    color: $text-color;
    background-color: $primary-color;
  }
}

span {
  color: $primary-color;
}
