.loginForm {
  display: flex;
  flex-direction: column;
  margin: 10px;

  input,
  button {
    margin-top: 20px;
    padding: 10px;
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
}

span {
  color: #00aaff;
}
